.spacewalker {
    .mixin1();
    font-size: 3.4rem;
    padding-bottom: 1.5rem;

    @media @phone {
        width: 100%;
        display: flex;
        .mixin1();

    }
}

nav {
    .mixin2();
    font-size: 1.6rem;
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1rem;

}


